/* 
.pokemon-list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  flex-flow: row wrap;
  border: solid;
  border-color: black
} */

.pokemon-item {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  flex-flow: row wrap;
  border: solid;
  border-color: black
}